*{
    font-family: sans-serif;
}
.big_box {
    margin-left: 448px;
    display: flex;
    flex-direction: column;
    width: 1024px;
}
.home_img {
    
    margin-top: 50px;
}
.title {
    font-weight: bold;
    font-size: 50px;
    width: 1024px;
    margin-left: 448px;
}
.text {
    font-size: 20px;
}
.faq_img {
    width: 1024;
}